
.van-cell__value{

    display: flex;
    
}
.van-field__error-message{
    
    position: relative;
    white-space: nowrap;
    left: -80px;
}

// .phoneverify{
//     .van-field__body{
//         width: 50px !important;
//     }
// }
.phoneitem{
    width: ;
}