
.van-cell__value{

    display: flex;
    
}
.van-field__error-message{
    
    position: relative;
    white-space: nowrap;
    left: -80px;
}

.phoneverify{
    .phoneitem{
        width: 200px;
    }
}
.bggreen{
    background: green;
}
