
.van-cell__value{

    display: flex;
    
}
.van-field__error-message{
    
    position: relative;
    white-space: nowrap;
    left: -80px;
}

.phoneverify{
    .phoneitem{
        width: 200px;
    }
}
.bggreen{
    background: green;
}
.m-t-40{
    margin-top: 40px;
}
.van-search{
    border-radius: 5px;
   
    
}
.top_left_left{
    width:60px;
    // 94
    
}
.m-l-l{
    margin-left: 5px;
}
.top_left_right{
    width:34px;
}
.t-r{
    text-align: right;
}
.f3{
    flex: 3;    
}
.van-index-bar__index{
    margin-top: 5px;
    margin-right: 5px;
    color: skyblue !important;
    font-size: 14px !important;
}

.m-t-100{
    margin-top: 100px;
}
.van-index-anchor--sticky{
top: 100px !important;
}
.fs15{
    font-size: 15px;
}
.h36{
    height: 36px;
}
.w184{
    width:184px;
}
.goline{
    text-decoration: line-through;
}
.cr{
    color:red;
}
.w75{
    width: 75px;
}
.cred{
    color:red;
}
.m-t-6{
    margin-top: 6px;
}
.p-b-10{
    padding-bottom: 10px;
}
.h50{
    height: 50px;
}
.m-t-4{
    margin-top: 4px;
}
.m-l-30{
    margin-left: 30px;
}
.h44{
    height: 44px;
}
.w262{
    width: 262px;
}
.m-r-10{
    margin-right:10px;
}
.reds{
    color: red !important;
}
