
.van-cell__value{

    display: flex;
    
}
.van-field__error-message{
    
    position: relative;
    white-space: nowrap;
    left: -80px;
}

.phoneverify{
    .phoneitem{
        width: 200px;
    }
}
.bggreen{
    background: green;
}
.m-t-40{
    margin-top: 40px;
}
.van-search{
    padding: 10px 0px !important;
    
}
.top_left_left{
    width:40px;
    
}
.top_left_right{
    width:40px;
}